<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<style>
  #box {
    border: 1px solid red;
    width: 90px;
    display: inline-block;
    height: 100px;
  }
</style>
<div id="container"></div>
<script type="text/babel">
  class App extends React.Component {
    render() {
      return (
        <div>
          {" "}
          <div id="box">Box</div>
        </div>
      );
    }
  }

  function Box() {
    return <div id="box"></div>;
  }

  const BoxArrow = () => {
    return <div id="box"></div>;
  };
  ReactDOM.render(<BoxArrow />, document.getElementById("container"));
</script>
