<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel">
  function PrepareData({name, location, runs}) {
    alert("Child called");
    console.log(data, "data");
    return (
      <div>
        I'm {name},My location is {location} and my runs are {runs}
      </div>
    );
  }

  // function PrepareData({name,location}) {
  //   alert("Child called");
  //   console.log(data, "data");
  //   return (
  //     <div>
  //       I'm {name},My location is {location}{" "}
  //     </div>
  //   );
  // }

  const App = () => {
    alert("app called");
    return (
      <div>
        <PrepareData name="Sachin" location="Mumbai" runs="10k" />
        <PrepareData name="Dhoni" location="Ranchi" />
        <PrepareData name="Kohli" location="Delhi" />
      </div>
    );
  };
  ReactDOM.render(<App />, document.getElementById("root"));
</script>

<!-- I'm Sachin, My location is Mumbai
I'm Dhoni, My location is Ranchi
I'm Kohli, My location is Delhi -->
