<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>

<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.state = {
        result: "ddd",
        clr: "blue"
      };
    }
    fnClick = () => {
      let number = this.refs.no.value;
      this.refs.no.value = "";
      if (number % 2 == 0) {
        this.setState({
          result: "EVEN",
          clr: "green"
        });
      } else {
        this.setState({
          result: "ODD",
          clr: "red"
        });
      }
    };
    render() {
      return (
        <div>
          <input ref="no" type="number" />
          <button onClick={this.fnClick}>Click Me</button>
          <h1 style={{color: this.state.clr}}>
            This number is::{this.state.result}
          </h1>
        </div>
      );
    }
  }
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
