<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
  class Hellow extends React.Component {
    render() {
      console.log(this, "current object");
      return (
        <div>
          Hellow.....{this.props.player} {this.props.runs}
        </div>
      );
    }
  }
  class App extends React.Component {
    render() {
      return (
        <div>
          <Hellow player="Sachin" runs="10k" />
          <Hellow player="Dhoni" runs="20k" />
          <Hellow player="Kohli" runs="30k" />
        </div>
      );
    }
  }
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
