<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>

<script type="text/babel">
  function Hellow() {
    return (
      <div>
        <div>Hellow World</div>
      </div>
    );
  }
  const App = () => {
    return (
      <div>
        <h1>I'm App Component</h1>
        <Hellow />
        <Hellow></Hellow>
      </div>
    );
  };
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
