<title>My first WebSite</title>

<h1>My first WebSite</h1>
<h2>Sachin is from Mumbai</h2>
<h3 title="this is reactjs">Reactjs</h3>
<h4>Angular</h4>
<h5>Venilla js</h5>
<h6>ES6</h6>
<!-- inline elements -->
<span id="fistSpan">Sachin</span>
<span style="color: blue">Dhoni</span>
<span style="font-size: x-large">Kohli</span>

<!-- Block level elements -->
<div>Sachin</div>
<div>Dhoni</div>
<div>Kohli</div>

<p>This is Sriman IT</p>

<ul>
  <li>Red</li>
  <li>Orange</li>
  <li>Green</li>
  <li>Blue</li>
</ul>

<ol>
  <li>Red</li>
  <li>Orange</li>
  <li>Green</li>
  <li>Blue</li>
</ol>
<a href="https://www.google.com/" target="_blank">Google</a>

<!-- attributes -->

id, class, style,name

<table border="1px solid black">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Runs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sachin</td>
      <td>Mumbai</td>
      <td>10k</td>
    </tr>
    <tr>
      <td>Dhoni</td>
      <td>Ranchi</td>
      <td>10k</td>
    </tr>
  </tbody>
</table>
