<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
  class App extends React.Component {
    constructor(p) {
      super();
      this.state = {
        count: 0,
        name: p.name,
        l: p.location
      };
      console.log("constructor got executed");
    }

    static getDerivedStateFromProps(nextProps, nextState) {
      if (nextState.count === 2) {
        return {
          l: "Ranchi"
        };
      }
    }

    shouldComponentUpdate(nextProps, nextState) {
      debugger;
      if (nextState.l !== this.state.l) {
        return true;
      }
      return false;
    }

    incCount = () => {
      this.setState({
        count: this.state.count + 1
      });
    };
    render() {
      console.log("render got executed");
      return (
        <div>
          Sample app
          <button onClick={this.incCount}>Inc</button>
          <h1>{this.state.count}</h1>
          <h2>
            {this.state.name}....
            {this.state.l}
          </h2>
        </div>
      );
    }

    componentDidMount() {
      console.log("ComponentDidMountExecuted");
    }
  }

  ReactDOM.render(
    <App name="sachin" location="Hyderabad" runs="10000" />,
    document.getElementById("root")
  );
</script>
