<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
  class App extends React.Component {
    state = {
      count: 0
    };
    fnClick = () => {
      this.setState({
        count: this.state.count + 1
      });
    };
    render() {
      return (
        <div>
          App component
          <button onClick={this.fnClick}>Click me</button>
          <Child count={this.state.count} />
        </div>
      );
    }
  }

  class Child extends React.Component {
    constructor() {
      super();
      this.state = {
        name: "Sachin"
      };
    }
    static getDerivedStateFromProps(nextProps, nextState) {
      if (nextProps.count == 3) {
        return {
          name: "Dhoni"
        };
      }
    }

    shouldComponentUpdate(nextProps, nextState) {
      if (
        nextProps.count !== this.props.count &&
        this.state.name === "Sachin"
      ) {
        return true;
      }
      return true;
    }

    render(a, b, c) {
      return (
        <div>
          Child Component
          <h1>{this.props.count}</h1>
          <h1>{this.state.name}</h1>
        </div>
      );
    }

    getSnapshotBeforeUpdate(preProps, prevState) {
      debugger;
    }

    componentDidUpdate(a, b, c) {
      debugger;
    }

    componentDidMount(a, b, c) {}
  }

  ReactDOM.render(
    <App name="sachin" location="Hyderabad" runs="10000" />,
    document.getElementById("root")
  );
</script>
