<script src="react.development.js"></script>
<script src="react-dom.development.js"></script>
<script src="babel.js"></script>
<div id="root"></div>
<script type="text/babel">
  class Parent extends React.Component {
    render() {
      const data = "Hyderabad";
      return (
        <div>
          <Child d={data} l="Mumbai" />
        </div>
      );
    }
  }

  class Child extends React.Component {
    render() {
      console.log(this, "child");
      return (
        <div>
          Data which is coming from Parent...{this.props.d}.... {this.props.l}
        </div>
      );
    }
  }

  ReactDOM.render(<Parent />, document.getElementById("root"));
</script>
