<h1>Registration</h1>
<p><b>Name</b><input type="text" /></p>
<p><b>Password</b><input type="password" /></p>
<p><b>Phone Number</b><input type="number" /></p>
<p><b>Email</b><input type="email" /></p>
<p>
  <b>Gender</b><input type="radio" name="gender" />Male<input
    type="radio"
    name="gender"
  />Female
</p>
<p>
  <b>Hobbies</b>
  <input type="checkbox" />VolleBall<input type="checkbox" />Hockey<input
    type="checkbox"
  />Cricket
</p>
<p>
  <b>Countries</b>
  <select>
    <option value="">India</option>
    <option value="">Pak</option>
    <option value="">Brezil</option>
  </select>
</p>
<p><b>Address</b><textarea rows="5" cols="30"></textarea></p>
<p><b>File</b><input type="file" /></p>

<p><button>Submit</button></p>
<p><input type="button" value="Registration" /></p>
