/* universal selector */

* {
  font-style: italic;
}

/* grouping selector */
h1,
h6 {
  color: red;
}

/* tag Name selector */
p {
  border: 1px solid green;
}

/* id selector */
#myFirstDiv {
  font-size: 100px;
  color: indianred;
}
/* class selector */
.cb {
  color: blue;
}

/* attribute selector */

[name="date"] {
  color: chartreuse;
}

/* parent and child selectors */

div > span {
  color: crimson;
  font-weight: bolder;
}

div span {
  border: 3px solid darkmagenta;
}
