.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: green;
  color: white;
  text-align: center;
  font-size: 50px;
}
.footer {
  background: green;
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 30px;
  bottom: 0px;
}
.menu-items {
  text-align: right;
}
.menu-items a {
  color: green;
  padding: 10px;
  margin-right: 5px;
  line-height: 20px;
}
